<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00004a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00005a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00006a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00007a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00008a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00009a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00010a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00011a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,511},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>00012a.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Zombiea.png</string>
            <key>size</key>
            <string>{57,657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c16b4b45a3c80faa358fd4463b4d37$</string>
            <key>textureFileName</key>
            <string>Zombiea.png</string>
        </dict>
    </dict>
</plist>
